In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Output_Months.csv')

In [3]:
df['Close Jul 20'] = df['Close Jul 20'].str.replace(',', '').astype(float)
df['Close Oct 20'] = df['Close Oct 20'].str.replace(',', '').astype(float)
df['Close Dec 20'] = df['Close Dec 20'].str.replace(',', '').astype(float)
df['Close Jan 21'] = df['Close Jan 21'].str.replace(',', '').astype(float)

In [4]:
#One Month
one_month = df.copy()

one_month['Gain'] = (one_month['Close Jan 21']/one_month['Close Dec 20'])-1

one_month.sort_values(['Gain'], inplace=True, ascending=False)

one_month.head(10)

,Unnamed: 0,Security Code,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument,Close Jul 20,Close Aug 20,Close Sep 20,Close Oct 20,Close Nov 20,Close Dec 20,Close Jan 21,Gain
2903,2903,533451,KARMAENG,KARMA ENERGY LTD.,Active,B,10.0,INE725L01011,Electric Utilities,Equity,9.77,11.13,8.77,9.10,9.46,12.76,24.42,0.913793
3570,3570,540519,MEERA,Meera Industries Ltd,Active,M,10.0,INE343X01018,Industrial Machinery,Equity,40.10,39.00,31.60,36.00,37.00,41.50,74.80,0.802410
1570,1570,524634,ALUFLUOR,ALUFLUORIDE LTD.,Active,X,10.0,INE058F01019,Commodity Chemicals,Equity,175.70,205.05,226.85,201.95,174.25,241.70,412.25,0.705627
1384,1384,523021,RISHITECH,RISHI TECHTEX LTD.,Active,X,10.0,INE989D01010,Containers & Packaging,Equity,15.50,14.95,14.58,15.49,15.50,15.60,26.25,0.682692
2718,2718,532911,PARLEIND,Parle Industries Ltd,Active,X,10.0,INE272G01014,Diversified Commercial Services,Equity,15.30,13.80,11.51,9.88,9.80,9.91,16.11,0.625631
1895,1895,530585,SWASTIKA,SWASTIKA INVESTMART LTD.,Active,X,10.0,INE691C01014,Other Financial Services,Equity,70.85,72.50,73.85,69.30,74.90,95.20,154.15,0.619223
922,922,512455,LLOYDSME,LLOYDS METALS AND ENERGY LTD.,Active,X,1.0,INE281B01032,Iron & Steel/Interm.Products,Equity,12.14,10.30,11.65,10.31,9.60,10.07,15.84,0.572989
261,261,500780,ZUARIGLOB,ZUARI GLOBAL LTD.,Active,B,10.0,INE217A01012,Fertilizers,Equity,48.00,51.90,46.10,47.80,56.95,72.30,112.50,0.556017
2258,2258,531869,SACHEMT,SACHETA METALS LTD.,Active,X,10.0,INE433G01012,Aluminium,Equity,15.25,14.40,15.01,14.85,15.09,14.75,22.71,0.539661
2924,2924,533644,UJAAS,Ujaas Energy Limited,Active,B,1.0,INE899L01022,Heavy Electrical Equipment,Equity,5.13,4.31,3.57,3.72,2.96,2.75,4.18,0.520000

In [5]:
#Three Months
three_months = df.copy()

three_months['Gain'] = (three_months['Close Jan 21']/three_months['Close Oct 20'])-1

three_months.sort_values(['Gain'], inplace=True, ascending=False)

three_months.head(10)

,Unnamed: 0,Security Code,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument,Close Jul 20,Close Aug 20,Close Sep 20,Close Oct 20,Close Nov 20,Close Dec 20,Close Jan 21,Gain
2793,2793,533093,RAJOIL,RAJ OIL MILLS LTD.,Active,B,10.0,INE294G01026,Edible Oils,Equity,NaN,NaN,NaN,7.79,20.48,59.72,83.85,9.763800
2768,2768,532989,BAFNAPHARM,BAFNA PHARMACEUTICALS LTD.,Active,T,10.0,INE878I01022,Pharmaceuticals,Equity,10.24,10.75,13.70,31.29,78.25,175.65,160.85,4.140620
1151,1151,517214,DIGISPICE,Digispice Technologies Ltd-$,Active,T,3.0,INE927C01020,Telecom Equipment,Equity,5.70,8.65,7.52,6.70,10.42,23.29,32.60,3.865672
738,738,510245,SWASTIVI,SWASTI VINAYAKA SYNTHETICS LTD.,Active,XT,1.0,INE804A01025,Comm.Trading & Distribution,Equity,3.19,3.28,5.03,4.58,4.38,14.96,20.98,3.580786
3802,3802,541358,SHWL,Shree Worstex Ltd,Active,XT,10.0,INE926R01012,Finance (including NBFCs),Equity,NaN,NaN,NaN,19.07,46.80,66.95,76.70,3.022024
518,518,506146,VIVIDHA,VISAGAR POLYTEX LTD.,Active,T,1.0,INE370E01029,Textiles,Equity,0.42,0.41,0.34,0.33,0.38,0.93,1.27,2.848485
2443,2443,532398,UMESLTD,Usha Martin Education & Solutions Limited,Active,T,1.0,INE240C01028,IT Software Products,Equity,1.70,1.44,1.21,1.06,1.40,2.75,3.72,2.509434
759,759,511153,ANJANIFOODS,Anjani Foods Ltd,Active,XT,10.0,INE096I01013,Packaged Foods,Equity,27.70,52.25,38.15,45.45,88.90,136.65,156.75,2.448845
2262,2262,531881,GMETCOAL,GUJARAT METALLIC COAL & COKE LTD.-$,Active,Z,100.0,INE146F01020,Comm.Trading & Distribution,Equity,13.30,13.49,9.60,6.05,8.32,18.45,20.25,2.347107
2545,2545,532656,FACORALL,FACOR ALLOYS LTD.,Active,XT,1.0,INE828G01013,Iron & Steel/Interm.Products,Equity,1.17,1.36,1.22,1.22,1.52,3.36,4.00,2.278689

In [6]:
#Six Months
six_months = df.copy()

six_months['Gain'] = (six_months['Close Jan 21']/six_months['Close Jul 20'])-1

six_months.sort_values(['Gain'], inplace=True, ascending=False)

six_months.head(10)

,Unnamed: 0,Security Code,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument,Close Jul 20,Close Aug 20,Close Sep 20,Close Oct 20,Close Nov 20,Close Dec 20,Close Jan 21,Gain
2768,2768,532989,BAFNAPHARM,BAFNA PHARMACEUTICALS LTD.,Active,T,10.0,INE878I01022,Pharmaceuticals,Equity,10.24,10.75,13.70,31.29,78.25,175.65,160.85,14.708008
3498,3498,540135,ARCFIN,ARC Finance Ltd,Active,XT,10.0,INE202R01018,Other Financial Services,Equity,0.33,0.60,0.94,1.20,1.53,3.32,3.78,10.454545
1784,1784,530057,VIVANZA,Vivanza Biosciences Ltd,Active,XT,10.0,INE984E01027,Pharmaceuticals,Equity,12.45,13.70,21.21,38.35,55.25,112.20,124.35,8.987952
1218,1218,519174,ASHAI,ASHIANA AGRO INDUSTRIES LTD.,Active,XT,10.0,INE709D01012,Edible Oils,Equity,0.39,0.48,0.73,1.17,1.53,2.88,3.38,7.666667
1908,1908,530665,ZENITHHE,ZENITH HEALTH CARE LTD.,Active,XT,1.0,INE812B01026,Pharmaceuticals,Equity,1.61,2.25,3.60,4.71,6.86,9.75,13.69,7.503106
1104,1104,515008,MODINSU,MODERN INSULATORS LTD.,Active,XT,10.0,INE219W01012,Other Elect.Equip./ Prod.,Equity,6.81,9.37,13.82,20.42,29.20,43.60,49.90,6.327460
738,738,510245,SWASTIVI,SWASTI VINAYAKA SYNTHETICS LTD.,Active,XT,1.0,INE804A01025,Comm.Trading & Distribution,Equity,3.19,3.28,5.03,4.58,4.38,14.96,20.98,5.576803
2636,2636,532790,TANLA,Tanla Platforms Ltd,Active,B,1.0,INE483C01032,IT Software Products,Equity,118.55,229.35,292.10,325.15,612.80,681.95,757.75,5.391818
1529,1529,524396,BIOFILCHEM,BIOFIL CHEMICALS & PHARMACEUTICALS LTD.,Active,T,10.0,INE829A01014,Pharmaceuticals,Equity,26.39,33.40,53.30,100.00,216.55,172.65,162.85,5.170898
3566,3566,540481,CLFL,Classic Leasing & Finance Ltd,Active,XT,10.0,INE949C01016,Other Financial Services,Equity,3.02,3.81,7.50,11.03,15.64,19.00,18.50,5.125828